.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 200px;
  width: 200px;
  margin-left: 20px;
}

.row {
  display: flex;
  align-items: center;
}

.title {
  font-size: 1.2em;
  text-align: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
